
* {
  padding: 0;
  margin: 0;
}


a {
  color: rgb(47, 154, 255);
  text-decoration: none;
}


.Enduro-Bike, .Blue-Helmet, .Green-MTB-Glove, .Rim-Shimano {
  width: 70%;
}


.rotate_gear {
  transition: transform 1s;
}

.rotate_gear:hover {
  transform: rotate(360deg);
}


.maintenance {
  height: 300px;
  width: 500px;
}


.Shirt {
  width: 100%;
  height: 700px;
}

.similar {
  width: 200px;
  height: 200px;
}


@media (min-width: 320px) and (max-width: 1920px) {
  .Shirt {
    width: 90%;
    height: 100%;
  }
}



